
/*-- scss:defaults --*/

.sidebar-title {
  color: #03a17f;
  font-weight: bold;

}

$link-color: #07a847;


h1 {
  color: #03a17f;
}

.sidebar-item-container {
  color: #03a17f;

}

$btn-code-copy-color: #03a17f;
$btn-code-copy-color-active: #03a17f;

div.sidebar-item-container .active {
  font-weight: bold;
  color: #03a17f;
}
