
/*-- scss:defaults --*/

.sidebar-title {
  color: white;
  font-weight: bold;

}

$sidebar-bg: #03a17f;
$link-color: #03a17f;

h1 {
  color: #03a17f;
}

$btn-code-copy-color: #03a17f;
$btn-code-copy-color-active: #03a17f;

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active{
  font-weight: bold;
}


/*-- scss:rules --*/

.sidebar-item-container {
  color: white;
}

div.sidebar-item-container .active {
  font-weight: bold;
  color: white;
}
